# Ignore node_modules (installed dependencies)
node_modules/

# Ignore sensitive environment variables
.env

# Ignore generated JSON data files
*.json
!package.json  # Keep package.json, but ignore other JSON files

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log


.env
node_modules/.package-lock.json
node_modules/.package-lock.json
node_modules/dotenv/lib/main.js
node_modules/dotenv/lib/main.d.ts
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/README.md
node_modules/dotenv/README-es.md
node_modules/dotenv/package.json
node_modules/dotenv/LICENSE
node_modules/dotenv/config.js
node_modules/dotenv/config.d.ts
node_modules/dotenv/CHANGELOG.md
node_modules/.package-lock.json
